flows.json
[
    {
        "id": "c2483a7242f3ae65",
        "type": "subflow",
        "name": "Azure Anomaly Detection - Request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "2de4e5a6ab9815dd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 80,
                "wires": [
                    {
                        "id": "5d946b7795845a5f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5d946b7795845a5f",
        "type": "http request",
        "z": "c2483a7242f3ae65",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "Ocp-Apim-Subscription-Key",
                "valueType": "msg",
                "valueValue": "apiKey"
            }
        ],
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "786f66b3b930710c",
        "type": "function",
        "z": "c2483a7242f3ae65",
        "name": "FinalConfiguration",
        "func": "msg.payload = {\n    \"series\": msg.datas,\n    \"maxAnomalyRatio\": msg.maxAnomalyRatio,\n    \"sensitivity\": msg.sensitivity,\n    \"granularity\": msg.timeRange,\n}\n\nmsg.url = msg.endPoint\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "5d946b7795845a5f"
            ]
        ]
    },
    {
        "id": "2de4e5a6ab9815dd",
        "type": "json",
        "z": "c2483a7242f3ae65",
        "name": "",
        "property": "datas",
        "action": "",
        "pretty": true,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "786f66b3b930710c"
            ]
        ]
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Demostration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f3da0d8e75e734f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Base Node",
        "props": [
            {
                "p": "apiKey",
                "v": "Plese write Azure API Key in Base Node",
                "vt": "str"
            },
            {
                "p": "datas",
                "v": "[{\"timestamp\":\"2023-04-03T11:42:27Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:42:30Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:32Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:34Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:37Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:39Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:42:41Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:43Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:42:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:48Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:15Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:34Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:43:36Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:38Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:40Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T11:43:43Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:45Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:43:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:43:49Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:44:34Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T11:44:37Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:44:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:41Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:44:44Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:44:48Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:50Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:53Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:45:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:45:49Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:45:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:45:53Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:58Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:00Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:02Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:09Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:46:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:36Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:46:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:52Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:47:02Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:47:33Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:47:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:47:38Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:43Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:47:45Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:47:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:47:49Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:47:52Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:54Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:48:03Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:48:35Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:42Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:48:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:48:46Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:49Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:48:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:30Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:49:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:37Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:50Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:04Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:33Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:36Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:50:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:52Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:50:59Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:51:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:51:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:51:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:42Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:56Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:34Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:37Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:39Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:41Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:43Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:52:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:52:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:57Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:52:59Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:53:02Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:08Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:53:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:36Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:38Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:43Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:45Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:54:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:54:35Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:54:37Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T11:54:40Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T11:54:42Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:54:44Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:54:46Z\",\"value\":15.8},{\"timestamp\":\"2023-04-03T11:54:49Z\",\"value\":18.4},{\"timestamp\":\"2023-04-03T11:54:51Z\",\"value\":20.1},{\"timestamp\":\"2023-04-03T11:54:53Z\",\"value\":19.9},{\"timestamp\":\"2023-04-03T11:54:58Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T11:55:00Z\",\"value\":21.5},{\"timestamp\":\"2023-04-03T11:55:30Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T11:55:34Z\",\"value\":12},{\"timestamp\":\"2023-04-03T11:55:37Z\",\"value\":11.9},{\"timestamp\":\"2023-04-03T11:55:39Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T11:55:41Z\",\"value\":14.8},{\"timestamp\":\"2023-04-03T11:55:43Z\",\"value\":8.6},{\"timestamp\":\"2023-04-03T11:55:46Z\",\"value\":44.2},{\"timestamp\":\"2023-04-03T11:55:48Z\",\"value\":12.5},{\"timestamp\":\"2023-04-03T11:55:50Z\",\"value\":15.6},{\"timestamp\":\"2023-04-03T11:55:53Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T11:55:55Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T11:55:57Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T11:55:59Z\",\"value\":11},{\"timestamp\":\"2023-04-03T11:56:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:54Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:57:35Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T11:57:38Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T11:57:40Z\",\"value\":27.3},{\"timestamp\":\"2023-04-03T11:57:42Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T11:57:44Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T11:57:47Z\",\"value\":13.9},{\"timestamp\":\"2023-04-03T11:57:49Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T11:57:51Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T11:57:54Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:57:58Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:58:00Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:58:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:58:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:39Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:41Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:51Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:53Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:59:25Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:59:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:59:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:59:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:54Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:00:34Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:00:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:00:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:01:01Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:01:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:01:42Z\",\"value\":5.9},{\"timestamp\":\"2023-04-03T12:01:45Z\",\"value\":5.8},{\"timestamp\":\"2023-04-03T12:01:47Z\",\"value\":6.3},{\"timestamp\":\"2023-04-03T12:01:49Z\",\"value\":8.2},{\"timestamp\":\"2023-04-03T12:01:51Z\",\"value\":16.9},{\"timestamp\":\"2023-04-03T12:01:54Z\",\"value\":29.1},{\"timestamp\":\"2023-04-03T12:01:58Z\",\"value\":21},{\"timestamp\":\"2023-04-03T12:02:03Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T12:02:35Z\",\"value\":18.7},{\"timestamp\":\"2023-04-03T12:02:37Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:02:49Z\",\"value\":74.1},{\"timestamp\":\"2023-04-03T12:02:51Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:02:54Z\",\"value\":51.7},{\"timestamp\":\"2023-04-03T12:02:56Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T12:02:58Z\",\"value\":11.8},{\"timestamp\":\"2023-04-03T12:03:21Z\",\"value\":21.1},{\"timestamp\":\"2023-04-03T12:03:23Z\",\"value\":8.7},{\"timestamp\":\"2023-04-03T12:03:34Z\",\"value\":8.3},{\"timestamp\":\"2023-04-03T12:03:37Z\",\"value\":73.7},{\"timestamp\":\"2023-04-03T12:03:39Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:03:41Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:03:43Z\",\"value\":16.6},{\"timestamp\":\"2023-04-03T12:03:46Z\",\"value\":64.9},{\"timestamp\":\"2023-04-03T12:03:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:55Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:57Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:04:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:04:52Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:04:54Z\",\"value\":19},{\"timestamp\":\"2023-04-03T12:04:56Z\",\"value\":6},{\"timestamp\":\"2023-04-03T12:05:05Z\",\"value\":17.3},{\"timestamp\":\"2023-04-03T12:05:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:05:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:40Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:05:42Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:58Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:06:23Z\",\"value\":13.9},{\"timestamp\":\"2023-04-03T12:06:34Z\",\"value\":15.9},{\"timestamp\":\"2023-04-03T12:06:37Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:06:39Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:06:41Z\",\"value\":17},{\"timestamp\":\"2023-04-03T12:06:44Z\",\"value\":21.8},{\"timestamp\":\"2023-04-03T12:06:46Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:06:48Z\",\"value\":14.2},{\"timestamp\":\"2023-04-03T12:06:50Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:06:53Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:07:00Z\",\"value\":8.6},{\"timestamp\":\"2023-04-03T12:07:34Z\",\"value\":10.6},{\"timestamp\":\"2023-04-03T12:07:36Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:38Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:41Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:43Z\",\"value\":9.9},{\"timestamp\":\"2023-04-03T12:07:45Z\",\"value\":24.7},{\"timestamp\":\"2023-04-03T12:07:47Z\",\"value\":9.1},{\"timestamp\":\"2023-04-03T12:07:50Z\",\"value\":34.3},{\"timestamp\":\"2023-04-03T12:07:52Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:07:54Z\",\"value\":13.8},{\"timestamp\":\"2023-04-03T12:08:19Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:35Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:42Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:47Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:51Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:08:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:58Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:09:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:09:36Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:09:38Z\",\"value\":16.4},{\"timestamp\":\"2023-04-03T12:09:40Z\",\"value\":14.9},{\"timestamp\":\"2023-04-03T12:09:42Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:09:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:09:47Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:58Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:10:34Z\",\"value\":13.2},{\"timestamp\":\"2023-04-03T12:10:36Z\",\"value\":26.8},{\"timestamp\":\"2023-04-03T12:10:38Z\",\"value\":19.3},{\"timestamp\":\"2023-04-03T12:10:41Z\",\"value\":15.3},{\"timestamp\":\"2023-04-03T12:10:43Z\",\"value\":23.6},{\"timestamp\":\"2023-04-03T12:10:45Z\",\"value\":18.3},{\"timestamp\":\"2023-04-03T12:10:47Z\",\"value\":12.8},{\"timestamp\":\"2023-04-03T12:10:50Z\",\"value\":18.6},{\"timestamp\":\"2023-04-03T12:10:52Z\",\"value\":17.4},{\"timestamp\":\"2023-04-03T12:11:03Z\",\"value\":22},{\"timestamp\":\"2023-04-03T12:11:06Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:11:35Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:11:38Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T12:11:40Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T12:11:42Z\",\"value\":29.5},{\"timestamp\":\"2023-04-03T12:11:44Z\",\"value\":14.4},{\"timestamp\":\"2023-04-03T12:11:47Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T12:11:49Z\",\"value\":10.3},{\"timestamp\":\"2023-04-03T12:11:51Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:11:54Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:12:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:44Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:55Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:13:34Z\",\"value\":13.7},{\"timestamp\":\"2023-04-03T12:13:36Z\",\"value\":13.3},{\"timestamp\":\"2023-04-03T12:13:38Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:13:41Z\",\"value\":22.1},{\"timestamp\":\"2023-04-03T12:13:43Z\",\"value\":8.9},{\"timestamp\":\"2023-04-03T12:13:45Z\",\"value\":16},{\"timestamp\":\"2023-04-03T12:13:48Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:13:50Z\",\"value\":11},{\"timestamp\":\"2023-04-03T12:13:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:13:59Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:01Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:33Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:42Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:45Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:14:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:51Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:54Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:15:33Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:15:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:56Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:16:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:16:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:16:42Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:44Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:51Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:53Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:17:13Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:17:34Z\",\"value\":22},{\"timestamp\":\"2023-04-03T12:17:36Z\",\"value\":16.1},{\"timestamp\":\"2023-04-03T12:17:38Z\",\"value\":15.9},{\"timestamp\":\"2023-04-03T12:18:01Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:18:03Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:18:05Z\",\"value\":12.2},{\"timestamp\":\"2023-04-03T12:18:07Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:18:10Z\",\"value\":16.1},{\"timestamp\":\"2023-04-03T12:18:12Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:18:17Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:18:35Z\",\"value\":69.7},{\"timestamp\":\"2023-04-03T12:18:37Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T12:18:39Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:18:42Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:18:44Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:18:46Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:48Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:51Z\",\"value\":10.2},{\"timestamp\":\"2023-04-03T12:18:53Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:18:55Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:58Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:19:04Z\",\"value\":45.8},{\"timestamp\":\"2023-04-03T12:19:34Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:36Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:19:41Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:19:43Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:45Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:19:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:19:50Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:19:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:19:59Z\",\"value\":14.9},{\"timestamp\":\"2023-04-03T12:20:11Z\",\"value\":15.8},{\"timestamp\":\"2023-04-03T12:20:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:40Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:44Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:46Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:21:00Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:21:34Z\",\"value\":22.5},{\"timestamp\":\"2023-04-03T12:21:37Z\",\"value\":16.3},{\"timestamp\":\"2023-04-03T12:21:39Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T12:21:41Z\",\"value\":21.9},{\"timestamp\":\"2023-04-03T12:21:43Z\",\"value\":13.8},{\"timestamp\":\"2023-04-03T12:21:46Z\",\"value\":12.7},{\"timestamp\":\"2023-04-03T12:21:48Z\",\"value\":16.3},{\"timestamp\":\"2023-04-03T12:21:50Z\",\"value\":15.2},{\"timestamp\":\"2023-04-03T12:21:52Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:22:33Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:22:36Z\",\"value\":9.8},{\"timestamp\":\"2023-04-03T12:22:38Z\",\"value\":9.7},{\"timestamp\":\"2023-04-03T12:22:40Z\",\"value\":9.8},{\"timestamp\":\"2023-04-03T12:22:43Z\",\"value\":9.7},{\"timestamp\":\"2023-04-03T12:22:45Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:22:47Z\",\"value\":16.7},{\"timestamp\":\"2023-04-03T12:22:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:22:52Z\",\"value\":68.4},{\"timestamp\":\"2023-04-03T12:22:54Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T12:23:15Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:23:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:42Z\",\"value\":14.7},{\"timestamp\":\"2023-04-03T12:23:44Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:23:46Z\",\"value\":8.2},{\"timestamp\":\"2023-04-03T12:23:49Z\",\"value\":15},{\"timestamp\":\"2023-04-03T12:23:51Z\",\"value\":16.8},{\"timestamp\":\"2023-04-03T12:23:53Z\",\"value\":14.3},{\"timestamp\":\"2023-04-03T12:24:00Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:24:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:24:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:24:39Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:24:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:24:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:24:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:25:04Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T12:25:34Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:25:36Z\",\"value\":21.8},{\"timestamp\":\"2023-04-03T12:25:38Z\",\"value\":15.3},{\"timestamp\":\"2023-04-03T12:25:40Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:25:43Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:25:45Z\",\"value\":12.5},{\"timestamp\":\"2023-04-03T12:25:47Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:25:49Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:25:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:25:54Z\",\"value\":64.9},{\"timestamp\":\"2023-04-03T12:26:35Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:26:37Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:26:40Z\",\"value\":15.5},{\"timestamp\":\"2023-04-03T12:26:42Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T12:26:44Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:26:46Z\",\"value\":17.8},{\"timestamp\":\"2023-04-03T12:26:49Z\",\"value\":8.7},{\"timestamp\":\"2023-04-03T12:26:51Z\",\"value\":71.4},{\"timestamp\":\"2023-04-03T12:26:53Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:26:56Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:27:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:27:34Z\",\"value\":5.8},{\"timestamp\":\"2023-04-03T12:27:37Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:27:39Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:27:41Z\",\"value\":14.3},{\"timestamp\":\"2023-04-03T12:27:43Z\",\"value\":17.6},{\"timestamp\":\"2023-04-03T12:27:46Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:27:48Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:27:50Z\",\"value\":13.1},{\"timestamp\":\"2023-04-03T12:27:53Z\",\"value\":11.4},{\"timestamp\":\"2023-04-03T12:28:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:28:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:28:38Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:28:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:28:43Z\",\"value\":15.7},{\"timestamp\":\"2023-04-03T12:28:45Z\",\"value\":5.5},{\"timestamp\":\"2023-04-03T12:28:47Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T12:28:50Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:28:52Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:28:54Z\",\"value\":17.9},{\"timestamp\":\"2023-04-03T12:29:35Z\",\"value\":17.4},{\"timestamp\":\"2023-04-03T12:29:37Z\",\"value\":8.4},{\"timestamp\":\"2023-04-03T12:29:40Z\",\"value\":72.1},{\"timestamp\":\"2023-04-03T12:29:42Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T12:29:44Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T12:29:47Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:29:49Z\",\"value\":11.1},{\"timestamp\":\"2023-04-03T12:29:51Z\",\"value\":11.3},{\"timestamp\":\"2023-04-03T12:29:53Z\",\"value\":11.3},{\"timestamp\":\"2023-04-03T12:29:56Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:30:06Z\",\"value\":10.6},{\"timestamp\":\"2023-04-03T12:30:34Z\",\"value\":6.5},{\"timestamp\":\"2023-04-03T12:30:36Z\",\"value\":8.5},{\"timestamp\":\"2023-04-03T12:30:38Z\",\"value\":85.1},{\"timestamp\":\"2023-04-03T12:30:41Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:30:43Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:30:45Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:30:47Z\",\"value\":24.3},{\"timestamp\":\"2023-04-03T12:30:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:30:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:31:01Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:31:03Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:31:19Z\",\"value\":20.2},{\"timestamp\":\"2023-04-03T12:31:22Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T12:31:28Z\",\"value\":56.8},{\"timestamp\":\"2023-04-03T12:31:35Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:31:38Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:31:40Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:31:42Z\",\"value\":24.2},{\"timestamp\":\"2023-04-03T12:31:44Z\",\"value\":8},{\"timestamp\":\"2023-04-03T12:31:47Z\",\"value\":18.8},{\"timestamp\":\"2023-04-03T12:31:49Z\",\"value\":13.5},{\"timestamp\":\"2023-04-03T12:31:51Z\",\"value\":11.9},{\"timestamp\":\"2023-04-03T12:31:54Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:31:56Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:31:58Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:32:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:32:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:39Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:32:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:44Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:32:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:32:51Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:32:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:33:21Z\",\"value\":11.8},{\"timestamp\":\"2023-04-03T12:33:23Z\",\"value\":23.3},{\"timestamp\":\"2023-04-03T12:33:34Z\",\"value\":11},{\"timestamp\":\"2023-04-03T12:33:37Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T12:33:39Z\",\"value\":16},{\"timestamp\":\"2023-04-03T12:33:41Z\",\"value\":16.4},{\"timestamp\":\"2023-04-03T12:33:43Z\",\"value\":13.3},{\"timestamp\":\"2023-04-03T12:33:46Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:33:48Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:33:50Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:33:53Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:33:59Z\",\"value\":81.6},{\"timestamp\":\"2023-04-03T12:34:04Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T12:34:34Z\",\"value\":9.6},{\"timestamp\":\"2023-04-03T12:34:36Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:34:38Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:34:40Z\",\"value\":9.6},{\"timestamp\":\"2023-04-03T12:34:43Z\",\"value\":14.1},{\"timestamp\":\"2023-04-03T12:34:45Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T12:34:47Z\",\"value\":90.1},{\"timestamp\":\"2023-04-03T12:34:50Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:34:52Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:34:54Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:35:35Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:40Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:42Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:44Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:46Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:49Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:51Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:53Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:58Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:36:00Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:36:14Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:36:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:36:37Z\",\"value\":6},{\"timestamp\":\"2023-04-03T12:36:39Z\",\"value\":5.9},{\"timestamp\":\"2023-04-03T12:36:41Z\",\"value\":6.3},{\"timestamp\":\"2023-04-03T12:36:43Z\",\"value\":7.9},{\"timestamp\":\"2023-04-03T12:36:46Z\",\"value\":35.9},{\"timestamp\":\"2023-04-03T12:36:48Z\",\"value\":15.4},{\"timestamp\":\"2023-04-03T12:36:50Z\",\"value\":13.7},{\"timestamp\":\"2023-04-03T12:36:53Z\",\"value\":12.8},{\"timestamp\":\"2023-04-03T12:36:55Z\",\"value\":12},{\"timestamp\":\"2023-04-03T12:37:06Z\",\"value\":14.1},{\"timestamp\":\"2023-04-03T12:37:09Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:37:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:45Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:47Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:50Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:52Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:54Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:56Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:35Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:37Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:42Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:44Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:47Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:49Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:51Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:53Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:39:00Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:39:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:39:14Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:39:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:39:39Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:39:41Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T12:39:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:39:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:39:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:15Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:40:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:54Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:42Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:44Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:51Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:56Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:42:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:42:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:42:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:44Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:42:57Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:04Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:43:06Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:36Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:43:38Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:41Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:45Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:50Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:44:06Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:47Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:44:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:56Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:46Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:48Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:46:00Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:34Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:41Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:52Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:47:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:47:38Z\",\"value\":7}]",
                "vt": "str"
            },
            {
                "p": "maxAnomalyRatio",
                "v": "0.25",
                "vt": "num"
            },
            {
                "p": "sensitivity",
                "v": "95",
                "vt": "num"
            },
            {
                "p": "timeRange",
                "v": "\"secondly\"",
                "vt": "str"
            },
            {
                "p": "endPoint",
                "v": "Plese write Azure End Point in Base Node",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "Please write endPoint on Configuration Nodes.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "779e5ef6a89ebda0"
            ]
        ]
    },
    {
        "id": "2cc653eb35b95b1f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Resutl",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "779e5ef6a89ebda0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Configuration",
        "func": "/*\n    This variable for Anomaly Detection Configuration.\n    This flow working for single Anomaly Detection.\n    \n    If you don't know what the following means, you can leave it as it was originally.\n\n    Don't forget to look at the documentation.\n    https://learn.microsoft.com/tr-tr/azure/cognitive-services/anomaly-detector/\n*/\n\n\nmsg.maxAnomalyRatio = 0.25,\nmsg.sensitivity = 95,\n\n\n/*\n\nHere you must specify the interval at which you store the data.  It can be secondly, hourly, yearly etc.\n\n*/\nmsg.timeRange = \"secondly\",\n\n//Please write the Microsoft Azure Anomaly Detection API Key for your account.\nmsg.apiKey = \"\",\n\n\n//Please write the Microsoft Azure Anomaly Detection Endpoint for your account. \nmsg.endPoint = \"\"\n\n\n//You Can Change Here. You must enter your datas.\nmsg.datas = '[{\"timestamp\":\"2023-04-03T11:42:27Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:42:30Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:32Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:34Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:37Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:39Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:42:41Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:42:43Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:42:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:42:48Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:15Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:34Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T11:43:36Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:38Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:40Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T11:43:43Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:43:45Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:43:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:43:49Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:43:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:44:34Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T11:44:37Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:44:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:41Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:44:44Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:44:48Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:50Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:44:53Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:45:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:45:49Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:45:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:45:53Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:45:58Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:00Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:02Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:09Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:46:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:36Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:46:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:46:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:46:52Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:47:02Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:47:33Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:47:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:47:38Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:43Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:47:45Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:47:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:47:49Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T11:47:52Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:47:54Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:48:03Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:48:35Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:48:42Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:48:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:48:46Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:49Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:48:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:48:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:30Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:49:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:37Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:49:50Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:49:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:04Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:33Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:36Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:50:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:50:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:50:52Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:50:59Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:51:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:51:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:51:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:42Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:51:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:51:56Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:34Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:37Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:39Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:41Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:43Z\",\"value\":6},{\"timestamp\":\"2023-04-03T11:52:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:52:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:52:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:52:57Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:52:59Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:53:02Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:08Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:53:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:36Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:38Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:43Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:45Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:53:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:53:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:54:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:54:35Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T11:54:37Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T11:54:40Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T11:54:42Z\",\"value\":7.7},{\"timestamp\":\"2023-04-03T11:54:44Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T11:54:46Z\",\"value\":15.8},{\"timestamp\":\"2023-04-03T11:54:49Z\",\"value\":18.4},{\"timestamp\":\"2023-04-03T11:54:51Z\",\"value\":20.1},{\"timestamp\":\"2023-04-03T11:54:53Z\",\"value\":19.9},{\"timestamp\":\"2023-04-03T11:54:58Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T11:55:00Z\",\"value\":21.5},{\"timestamp\":\"2023-04-03T11:55:30Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T11:55:34Z\",\"value\":12},{\"timestamp\":\"2023-04-03T11:55:37Z\",\"value\":11.9},{\"timestamp\":\"2023-04-03T11:55:39Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T11:55:41Z\",\"value\":14.8},{\"timestamp\":\"2023-04-03T11:55:43Z\",\"value\":8.6},{\"timestamp\":\"2023-04-03T11:55:46Z\",\"value\":44.2},{\"timestamp\":\"2023-04-03T11:55:48Z\",\"value\":12.5},{\"timestamp\":\"2023-04-03T11:55:50Z\",\"value\":15.6},{\"timestamp\":\"2023-04-03T11:55:53Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T11:55:55Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T11:55:57Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T11:55:59Z\",\"value\":11},{\"timestamp\":\"2023-04-03T11:56:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:56:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:56:54Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:57:35Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T11:57:38Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T11:57:40Z\",\"value\":27.3},{\"timestamp\":\"2023-04-03T11:57:42Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T11:57:44Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T11:57:47Z\",\"value\":13.9},{\"timestamp\":\"2023-04-03T11:57:49Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T11:57:51Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T11:57:54Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:57:58Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T11:58:00Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:58:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:58:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:39Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:41Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:58:51Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T11:58:53Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:59:25Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T11:59:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:59:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T11:59:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T11:59:54Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:00:34Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:00:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:00:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:00:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:01:01Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:01:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:01:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:01:42Z\",\"value\":5.9},{\"timestamp\":\"2023-04-03T12:01:45Z\",\"value\":5.8},{\"timestamp\":\"2023-04-03T12:01:47Z\",\"value\":6.3},{\"timestamp\":\"2023-04-03T12:01:49Z\",\"value\":8.2},{\"timestamp\":\"2023-04-03T12:01:51Z\",\"value\":16.9},{\"timestamp\":\"2023-04-03T12:01:54Z\",\"value\":29.1},{\"timestamp\":\"2023-04-03T12:01:58Z\",\"value\":21},{\"timestamp\":\"2023-04-03T12:02:03Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T12:02:35Z\",\"value\":18.7},{\"timestamp\":\"2023-04-03T12:02:37Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:02:49Z\",\"value\":74.1},{\"timestamp\":\"2023-04-03T12:02:51Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:02:54Z\",\"value\":51.7},{\"timestamp\":\"2023-04-03T12:02:56Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T12:02:58Z\",\"value\":11.8},{\"timestamp\":\"2023-04-03T12:03:21Z\",\"value\":21.1},{\"timestamp\":\"2023-04-03T12:03:23Z\",\"value\":8.7},{\"timestamp\":\"2023-04-03T12:03:34Z\",\"value\":8.3},{\"timestamp\":\"2023-04-03T12:03:37Z\",\"value\":73.7},{\"timestamp\":\"2023-04-03T12:03:39Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:03:41Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:03:43Z\",\"value\":16.6},{\"timestamp\":\"2023-04-03T12:03:46Z\",\"value\":64.9},{\"timestamp\":\"2023-04-03T12:03:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:55Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:03:57Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:04:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:04:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:04:52Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:04:54Z\",\"value\":19},{\"timestamp\":\"2023-04-03T12:04:56Z\",\"value\":6},{\"timestamp\":\"2023-04-03T12:05:05Z\",\"value\":17.3},{\"timestamp\":\"2023-04-03T12:05:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:05:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:40Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:05:42Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:05:58Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:06:23Z\",\"value\":13.9},{\"timestamp\":\"2023-04-03T12:06:34Z\",\"value\":15.9},{\"timestamp\":\"2023-04-03T12:06:37Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:06:39Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:06:41Z\",\"value\":17},{\"timestamp\":\"2023-04-03T12:06:44Z\",\"value\":21.8},{\"timestamp\":\"2023-04-03T12:06:46Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:06:48Z\",\"value\":14.2},{\"timestamp\":\"2023-04-03T12:06:50Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:06:53Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:07:00Z\",\"value\":8.6},{\"timestamp\":\"2023-04-03T12:07:34Z\",\"value\":10.6},{\"timestamp\":\"2023-04-03T12:07:36Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:38Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:41Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:07:43Z\",\"value\":9.9},{\"timestamp\":\"2023-04-03T12:07:45Z\",\"value\":24.7},{\"timestamp\":\"2023-04-03T12:07:47Z\",\"value\":9.1},{\"timestamp\":\"2023-04-03T12:07:50Z\",\"value\":34.3},{\"timestamp\":\"2023-04-03T12:07:52Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:07:54Z\",\"value\":13.8},{\"timestamp\":\"2023-04-03T12:08:19Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:35Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:40Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:42Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:44Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:47Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:08:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:51Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:08:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:08:58Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:09:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:09:36Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:09:38Z\",\"value\":16.4},{\"timestamp\":\"2023-04-03T12:09:40Z\",\"value\":14.9},{\"timestamp\":\"2023-04-03T12:09:42Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:09:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:09:47Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:09:58Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:10:34Z\",\"value\":13.2},{\"timestamp\":\"2023-04-03T12:10:36Z\",\"value\":26.8},{\"timestamp\":\"2023-04-03T12:10:38Z\",\"value\":19.3},{\"timestamp\":\"2023-04-03T12:10:41Z\",\"value\":15.3},{\"timestamp\":\"2023-04-03T12:10:43Z\",\"value\":23.6},{\"timestamp\":\"2023-04-03T12:10:45Z\",\"value\":18.3},{\"timestamp\":\"2023-04-03T12:10:47Z\",\"value\":12.8},{\"timestamp\":\"2023-04-03T12:10:50Z\",\"value\":18.6},{\"timestamp\":\"2023-04-03T12:10:52Z\",\"value\":17.4},{\"timestamp\":\"2023-04-03T12:11:03Z\",\"value\":22},{\"timestamp\":\"2023-04-03T12:11:06Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:11:35Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:11:38Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T12:11:40Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T12:11:42Z\",\"value\":29.5},{\"timestamp\":\"2023-04-03T12:11:44Z\",\"value\":14.4},{\"timestamp\":\"2023-04-03T12:11:47Z\",\"value\":14.6},{\"timestamp\":\"2023-04-03T12:11:49Z\",\"value\":10.3},{\"timestamp\":\"2023-04-03T12:11:51Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:11:54Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:12:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:44Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:12:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:12:55Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:13:34Z\",\"value\":13.7},{\"timestamp\":\"2023-04-03T12:13:36Z\",\"value\":13.3},{\"timestamp\":\"2023-04-03T12:13:38Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:13:41Z\",\"value\":22.1},{\"timestamp\":\"2023-04-03T12:13:43Z\",\"value\":8.9},{\"timestamp\":\"2023-04-03T12:13:45Z\",\"value\":16},{\"timestamp\":\"2023-04-03T12:13:48Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:13:50Z\",\"value\":11},{\"timestamp\":\"2023-04-03T12:13:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:13:59Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:01Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:33Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:35Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:38Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:40Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:42Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:45Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:14:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:14:51Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:14:54Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:15:33Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:15:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:15:56Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:16:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:16:39Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:16:42Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:44Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:46Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:16:51Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:16:53Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:17:13Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:17:34Z\",\"value\":22},{\"timestamp\":\"2023-04-03T12:17:36Z\",\"value\":16.1},{\"timestamp\":\"2023-04-03T12:17:38Z\",\"value\":15.9},{\"timestamp\":\"2023-04-03T12:18:01Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:18:03Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:18:05Z\",\"value\":12.2},{\"timestamp\":\"2023-04-03T12:18:07Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:18:10Z\",\"value\":16.1},{\"timestamp\":\"2023-04-03T12:18:12Z\",\"value\":8.8},{\"timestamp\":\"2023-04-03T12:18:17Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:18:35Z\",\"value\":69.7},{\"timestamp\":\"2023-04-03T12:18:37Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T12:18:39Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:18:42Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:18:44Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:18:46Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:48Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:51Z\",\"value\":10.2},{\"timestamp\":\"2023-04-03T12:18:53Z\",\"value\":10.1},{\"timestamp\":\"2023-04-03T12:18:55Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:18:58Z\",\"value\":10},{\"timestamp\":\"2023-04-03T12:19:04Z\",\"value\":45.8},{\"timestamp\":\"2023-04-03T12:19:34Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:36Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:19:41Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:19:43Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:19:45Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:19:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:19:50Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:19:52Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:19:59Z\",\"value\":14.9},{\"timestamp\":\"2023-04-03T12:20:11Z\",\"value\":15.8},{\"timestamp\":\"2023-04-03T12:20:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:40Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:44Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:46Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:20:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:51Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:53Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:20:55Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:21:00Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:21:34Z\",\"value\":22.5},{\"timestamp\":\"2023-04-03T12:21:37Z\",\"value\":16.3},{\"timestamp\":\"2023-04-03T12:21:39Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T12:21:41Z\",\"value\":21.9},{\"timestamp\":\"2023-04-03T12:21:43Z\",\"value\":13.8},{\"timestamp\":\"2023-04-03T12:21:46Z\",\"value\":12.7},{\"timestamp\":\"2023-04-03T12:21:48Z\",\"value\":16.3},{\"timestamp\":\"2023-04-03T12:21:50Z\",\"value\":15.2},{\"timestamp\":\"2023-04-03T12:21:52Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:22:33Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:22:36Z\",\"value\":9.8},{\"timestamp\":\"2023-04-03T12:22:38Z\",\"value\":9.7},{\"timestamp\":\"2023-04-03T12:22:40Z\",\"value\":9.8},{\"timestamp\":\"2023-04-03T12:22:43Z\",\"value\":9.7},{\"timestamp\":\"2023-04-03T12:22:45Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:22:47Z\",\"value\":16.7},{\"timestamp\":\"2023-04-03T12:22:49Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:22:52Z\",\"value\":68.4},{\"timestamp\":\"2023-04-03T12:22:54Z\",\"value\":12.1},{\"timestamp\":\"2023-04-03T12:23:15Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:23:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:23:42Z\",\"value\":14.7},{\"timestamp\":\"2023-04-03T12:23:44Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:23:46Z\",\"value\":8.2},{\"timestamp\":\"2023-04-03T12:23:49Z\",\"value\":15},{\"timestamp\":\"2023-04-03T12:23:51Z\",\"value\":16.8},{\"timestamp\":\"2023-04-03T12:23:53Z\",\"value\":14.3},{\"timestamp\":\"2023-04-03T12:24:00Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:24:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:24:37Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:24:39Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:24:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:24:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:24:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:24:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:25:04Z\",\"value\":7.6},{\"timestamp\":\"2023-04-03T12:25:34Z\",\"value\":10.4},{\"timestamp\":\"2023-04-03T12:25:36Z\",\"value\":21.8},{\"timestamp\":\"2023-04-03T12:25:38Z\",\"value\":15.3},{\"timestamp\":\"2023-04-03T12:25:40Z\",\"value\":12.3},{\"timestamp\":\"2023-04-03T12:25:43Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:25:45Z\",\"value\":12.5},{\"timestamp\":\"2023-04-03T12:25:47Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:25:49Z\",\"value\":17.7},{\"timestamp\":\"2023-04-03T12:25:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:25:54Z\",\"value\":64.9},{\"timestamp\":\"2023-04-03T12:26:35Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:26:37Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:26:40Z\",\"value\":15.5},{\"timestamp\":\"2023-04-03T12:26:42Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T12:26:44Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:26:46Z\",\"value\":17.8},{\"timestamp\":\"2023-04-03T12:26:49Z\",\"value\":8.7},{\"timestamp\":\"2023-04-03T12:26:51Z\",\"value\":71.4},{\"timestamp\":\"2023-04-03T12:26:53Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:26:56Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:27:05Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:27:34Z\",\"value\":5.8},{\"timestamp\":\"2023-04-03T12:27:37Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:27:39Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:27:41Z\",\"value\":14.3},{\"timestamp\":\"2023-04-03T12:27:43Z\",\"value\":17.6},{\"timestamp\":\"2023-04-03T12:27:46Z\",\"value\":14},{\"timestamp\":\"2023-04-03T12:27:48Z\",\"value\":12.6},{\"timestamp\":\"2023-04-03T12:27:50Z\",\"value\":13.1},{\"timestamp\":\"2023-04-03T12:27:53Z\",\"value\":11.4},{\"timestamp\":\"2023-04-03T12:28:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:28:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:28:38Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:28:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:28:43Z\",\"value\":15.7},{\"timestamp\":\"2023-04-03T12:28:45Z\",\"value\":5.5},{\"timestamp\":\"2023-04-03T12:28:47Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T12:28:50Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:28:52Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:28:54Z\",\"value\":17.9},{\"timestamp\":\"2023-04-03T12:29:35Z\",\"value\":17.4},{\"timestamp\":\"2023-04-03T12:29:37Z\",\"value\":8.4},{\"timestamp\":\"2023-04-03T12:29:40Z\",\"value\":72.1},{\"timestamp\":\"2023-04-03T12:29:42Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T12:29:44Z\",\"value\":13.4},{\"timestamp\":\"2023-04-03T12:29:47Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:29:49Z\",\"value\":11.1},{\"timestamp\":\"2023-04-03T12:29:51Z\",\"value\":11.3},{\"timestamp\":\"2023-04-03T12:29:53Z\",\"value\":11.3},{\"timestamp\":\"2023-04-03T12:29:56Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:30:06Z\",\"value\":10.6},{\"timestamp\":\"2023-04-03T12:30:34Z\",\"value\":6.5},{\"timestamp\":\"2023-04-03T12:30:36Z\",\"value\":8.5},{\"timestamp\":\"2023-04-03T12:30:38Z\",\"value\":85.1},{\"timestamp\":\"2023-04-03T12:30:41Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:30:43Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:30:45Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:30:47Z\",\"value\":24.3},{\"timestamp\":\"2023-04-03T12:30:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:30:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:31:01Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:31:03Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:31:19Z\",\"value\":20.2},{\"timestamp\":\"2023-04-03T12:31:22Z\",\"value\":5.6},{\"timestamp\":\"2023-04-03T12:31:28Z\",\"value\":56.8},{\"timestamp\":\"2023-04-03T12:31:35Z\",\"value\":13.6},{\"timestamp\":\"2023-04-03T12:31:38Z\",\"value\":11.7},{\"timestamp\":\"2023-04-03T12:31:40Z\",\"value\":12.4},{\"timestamp\":\"2023-04-03T12:31:42Z\",\"value\":24.2},{\"timestamp\":\"2023-04-03T12:31:44Z\",\"value\":8},{\"timestamp\":\"2023-04-03T12:31:47Z\",\"value\":18.8},{\"timestamp\":\"2023-04-03T12:31:49Z\",\"value\":13.5},{\"timestamp\":\"2023-04-03T12:31:51Z\",\"value\":11.9},{\"timestamp\":\"2023-04-03T12:31:54Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:31:56Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:31:58Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:32:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:32:37Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:39Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:32:41Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:44Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:32:46Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:32:48Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:32:51Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:32:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:33:21Z\",\"value\":11.8},{\"timestamp\":\"2023-04-03T12:33:23Z\",\"value\":23.3},{\"timestamp\":\"2023-04-03T12:33:34Z\",\"value\":11},{\"timestamp\":\"2023-04-03T12:33:37Z\",\"value\":10.8},{\"timestamp\":\"2023-04-03T12:33:39Z\",\"value\":16},{\"timestamp\":\"2023-04-03T12:33:41Z\",\"value\":16.4},{\"timestamp\":\"2023-04-03T12:33:43Z\",\"value\":13.3},{\"timestamp\":\"2023-04-03T12:33:46Z\",\"value\":11.2},{\"timestamp\":\"2023-04-03T12:33:48Z\",\"value\":10.7},{\"timestamp\":\"2023-04-03T12:33:50Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:33:53Z\",\"value\":9.5},{\"timestamp\":\"2023-04-03T12:33:59Z\",\"value\":81.6},{\"timestamp\":\"2023-04-03T12:34:04Z\",\"value\":10.9},{\"timestamp\":\"2023-04-03T12:34:34Z\",\"value\":9.6},{\"timestamp\":\"2023-04-03T12:34:36Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:34:38Z\",\"value\":9.4},{\"timestamp\":\"2023-04-03T12:34:40Z\",\"value\":9.6},{\"timestamp\":\"2023-04-03T12:34:43Z\",\"value\":14.1},{\"timestamp\":\"2023-04-03T12:34:45Z\",\"value\":8.1},{\"timestamp\":\"2023-04-03T12:34:47Z\",\"value\":90.1},{\"timestamp\":\"2023-04-03T12:34:50Z\",\"value\":11.6},{\"timestamp\":\"2023-04-03T12:34:52Z\",\"value\":11.5},{\"timestamp\":\"2023-04-03T12:34:54Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:35:35Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:40Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:42Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:44Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:46Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:49Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:51Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:35:53Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:35:58Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:36:00Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:36:14Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:36:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:36:37Z\",\"value\":6},{\"timestamp\":\"2023-04-03T12:36:39Z\",\"value\":5.9},{\"timestamp\":\"2023-04-03T12:36:41Z\",\"value\":6.3},{\"timestamp\":\"2023-04-03T12:36:43Z\",\"value\":7.9},{\"timestamp\":\"2023-04-03T12:36:46Z\",\"value\":35.9},{\"timestamp\":\"2023-04-03T12:36:48Z\",\"value\":15.4},{\"timestamp\":\"2023-04-03T12:36:50Z\",\"value\":13.7},{\"timestamp\":\"2023-04-03T12:36:53Z\",\"value\":12.8},{\"timestamp\":\"2023-04-03T12:36:55Z\",\"value\":12},{\"timestamp\":\"2023-04-03T12:37:06Z\",\"value\":14.1},{\"timestamp\":\"2023-04-03T12:37:09Z\",\"value\":10.5},{\"timestamp\":\"2023-04-03T12:37:34Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:36Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:43Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:37:45Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:47Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:50Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:52Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:54Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:37:56Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:35Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:37Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:42Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:44Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:47Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:49Z\",\"value\":6.7},{\"timestamp\":\"2023-04-03T12:38:51Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:38:53Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:39:00Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:39:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:39:14Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:39:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:39:39Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:39:41Z\",\"value\":7.8},{\"timestamp\":\"2023-04-03T12:39:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:39:46Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:39:48Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:39:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:15Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:34Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:36Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:40:43Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:40:45Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:52Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:40:54Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:37Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:40Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:42Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:44Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:47Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:51Z\",\"value\":6.8},{\"timestamp\":\"2023-04-03T12:41:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:41:56Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:42:03Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:42:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:37Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:39Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:42:41Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:42:44Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:46Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:48Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:50Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:42:53Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:42:57Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:04Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:43:06Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:34Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:36Z\",\"value\":7.4},{\"timestamp\":\"2023-04-03T12:43:38Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:41Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:43Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:45Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:47Z\",\"value\":7.3},{\"timestamp\":\"2023-04-03T12:43:50Z\",\"value\":7.2},{\"timestamp\":\"2023-04-03T12:43:52Z\",\"value\":7.5},{\"timestamp\":\"2023-04-03T12:44:06Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:35Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:38Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:40Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:42Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:44:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:47Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:44:49Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:51Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:44:56Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:34Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:37Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:39Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:45:41Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:44Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:46Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:48Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:50Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:45:53Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:46:00Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:34Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:36Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:38Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:41Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:43Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:45Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:47Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:50Z\",\"value\":7},{\"timestamp\":\"2023-04-03T12:46:52Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:46:54Z\",\"value\":7.1},{\"timestamp\":\"2023-04-03T12:47:35Z\",\"value\":6.9},{\"timestamp\":\"2023-04-03T12:47:38Z\",\"value\":7}]'\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "154184d76597e855"
            ]
        ]
    },
    {
        "id": "154184d76597e855",
        "type": "subflow:c2483a7242f3ae65",
        "z": "f6f2187d.f17ca8",
        "name": "Azure Anomaly Detection",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "2cc653eb35b95b1f"
            ]
        ]
    }
]